[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.1.x.cfg
    http://good-py.appspot.com/release/dexterity/1.0
package-name = collective.coderactivities

parts+=omelette

extensions+=mr.developer
auto-checkout=collective.github

[omelette]
recipe=collective.recipe.omelette
eggs=${instance:eggs}

[sources]
collective.github = git git://github.com/toutpt/collective.github.git